<a href="https://colab.research.google.com/github/ShiviRaghu/Assignment_python/blob/main/Assignmet4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Find the largest number from the given list, use for loop.
numbers = [12, 75, 150, 180, 145, 525, 50]

In [ ]:
l =[12, 75, 150, 180, 145, 525, 5000]

for i in range(1,len(l)):
  if l[i]>l[i-1]:
    l[i]==l[i-1]

print(l[i])

5000

Q2. Print all the even number between (1, 12).

In [ ]:
for i in range(0,13):
  if i%2==0:
    print(i)

0
2
4
6
8
10
12

Q3. Calculate the sum of all numbers from 1 to a given number

Expected Output:

Enter number 10

Sum is: 55

In [ ]:
n = int(input("give number till you want to find sum? "))
sum =0

for i in range(0,n+1):
  sum =sum +i
print(sum)

give number till you want to find sum? 10
55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five

If the number is greater than 150, then skip it and move to the next number

If the number is greater than 500, then stop the loop

#given
numbers = [12, 75, 150, 180, 145, 525, 50]

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for n in numbers:
  if n%5==0:
    if n>150:
      continue
      if n>500:
        break
    print(n)

75
150
145
50

Q5. Print the given list in reverse order.

list1 = [10, 20, 30, 40, 50]

In [ ]:
list1 = [10, 20, 30, 40, 50]

for l in reversed(list1):
  print(l,end =" ")

50 40 30 20 10