<a href="https://colab.research.google.com/github/ShiviRaghu/Assignment_python/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ASSIGNMENTS - NOT compulsory but usefull!!
### I am not at loss if you don't submit
### send the mail to
### send it before 0000 hrs IST | 12 AM tonight
### Special cases respond atleast before 1200 hrs IST tomorrow i.e Monday

TO: query@ineuron.ai
CC: sunny@ineuron.ai, riishav@ineuron.ai, boktiar@ineuron.ai

Subject: [Bootcamp 2.0 | Assignment No. 1]:

1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.
2. Take input A and B and print their sum, mul, div, square of the nos.
3. How many reserve keywords are there in python and why we should not use them as a variable name.
4. Create email ids with the user inputs. in the following format -
lastname.firstname@gmail.com
5. Try to print the following lines -
  - Hi I'm Sunny
  - My address is 22\3
  - I earn 20$ daily.
6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs
7. Convert the following -
  - "22.4" into integer
  - "22" into complex no.

### Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [ ]:

ans ---1NameError:" " is missing for without print
2SyntaxError: invalid syntax  : can not use special chars while naming variable
3SyntaxError: cannot assign to expression  : can not use special chars while naming variable
4SyntaxError: invalid decimal literal : can not use numbers in starting of var name
5SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers   ---can not concanate string and integer directly
6ValueError: invalid literal for int() with base 10: 'abc' -- can not convert string chars to integer
7ValueError: invalid literal for int() with base 10: '50.23' --can not convert string float to integer
8ValueError: invalid literal for int() with base 10: ''-- --can not convert empty string to integer
9TypeError: 'str' object is not callable :cannot use reserved word as var name

### Take input A and B and print their sum, mul, div, square of the nos.

In [ ]:
a = int(input("value of a = "))
b = int(input("value of b = "))
print(f"sum of {a} + { b} = {a+b}")
print(f"mul of {a} * { b} = {a*b}")
print(f"div of {a} / { b} = {a/b}")
print(f"square of {a} = {a**2}")
print(f"square of {b} = {b**2}")

value of a = 12
value of b = 4
sum of 12 + 4 = 16
mul of 12 * 4 = 48
div of 12 / 4 = 3.0
square of 12 = 144
square of 4 = 16

### How many reserve keywords are there in python and why we should not use them as a variable name.

In [ ]:
We should not use reserved words as variable names because they give us type errors
Also python doesn't restrict the user to use reserved keywords as variable names

and del from not while
as elif global or with
assert else if pass yield
break except import print
class exec in raise
continue finally is return
def for lambda try

### Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [ ]:
firstname = input("enter first name = ")
lastname = input("last name = ")
print(f"{lastname}.{firstname}@gmail.com")

enter first name = shivani
last name = raghuwanshi
raghuwanshi.shivani@gmail.com

### Try to print the following lines -
Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

In [ ]:
firstname = input("enter first name = ")
address = input("last address = ")
wages = input("daily wages = ")
print(f"""Hi I am {firstname}
My address is {address}
I earn {wages} daily.
""")

enter first name = shivani
last address = hig22
daily wages = 50$
Hi I am shivani
My address is hig22
I earn 50$ daily.

### Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [ ]:
name = input("enter name ")
address = input("enter address ")
dob = input ("dob = ")
print(f"{name}.{address}{dob}@gmail.com")

enter name shivi
enter address hig22
dob = 0407
shivi.hig220407@gmail.com

### Convert the following -
"22.4" into integer
"22" into complex no.

In [ ]:
a =22.4
print(type(a))
a =int(a)
print(type(a))
print(a)
a=22
b=.2
a=complex(a,b)
print(type(a))
print(a)

<class 'float'>
<class 'int'>
22
<class 'complex'>
(22+0.2j)